<% if (allrecs.length > 0) {%>
    <table border=1>
            <tr>
                <th>Subscription ID</th> 
                <th>Customer ID</th>
                <th>Category ID</th>
                <th>Subscribe date</th>
                <th>Unsubscribe date</th>
                <th colspan="3">Actions</th>
            </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.subscription_id   %></td>
            <td><%= recref.customer_id   %></td>
            <td><%= recref.category_id   %></td>
            <td><%= recref.subscribedate   %></td>
            <td><%= recref.unsubscribedate   %></td>
            <td><a href='/subscription/<%= recref.subscription_id %>/show'> Details</a></td>
            <td><a href='/subscription/<%= recref.subscription_id %>/edit'>Edit</a></td>
            <td><a href='/subscription/<%= recref.subscription_id %>/delete'  onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
        </tr>
      <% }); %>
</table>
    
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>
    
<p> <a href='/subscription/addrecord'>Add New</a> </p>
    