<% if (allrecs.length > 0) {%>
    <table border=1>
            <tr>
                <th>Orderdetail ID</th> 
                <th>Order ID</th>
                <th>Product ID</th>
                <th>Sale Price</th>
                <th>QTY</th>
                <th colspan="3">Actions</th>
            </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.orderdetail_id  %></td>
            <td><%= recref.order_id%></td>
            <td><%= recref.product_id%></td>
            <td><%= recref.saleprice%></td>
            <td><%= recref.qty%></td>
            <td><a href='/orderdetail/<%= recref.orderdetail_id  %>/show'> Details</a></td>
            <td><a href='/orderdetail/<%= recref.orderdetail_id  %>/edit'>Edit</a></td>
            <td><a href='/orderdetail/<%= recref.orderdetail_id  %>/delete'  onclick="return confirm('Are you sure you want to delete this record?');">Delete</a></td>
        </tr>
      <% }); %>
</table>
    
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>
    
<p> <a href='/orderdetail/addrecord'>Add New</a> </p>
    