<h1>Product Listing</h1>

<% if (allrecs.length > 0) {%>
    <table border=1>
            <tr>
                <th>Product ID</th> 
                <th>Product Name</th>
                <th>Supplier</th>
                <th>Category</th>
                <th>Price</th>
                <th>Status</th>
                <th>Homepage</th>
            </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.product_id %></td>
            <td><%= recref.productname %></td>
            <td><%= recref.supplier_id %></td>
            <td><%= recref.category_id %></td>
            <td><%= recref.prodprice %></td>
            <td><%= recref.status %></td>
            <td><%= recref.homepage %></td>
        </tr>
      <% }); %>
</table>
    
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>
    