<h1>Sale Listing</h1>

<% if (allrecs.length > 0) {%>
    <table border=1>
            <tr>
                <th>Order ID</th> 
                <th>Customer ID</th>
                <th>Sale Date </th>
                <th>Payment Status </th>
                <th>Authorizationnum </th>
            </tr>
      <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.order_id  %></td>
            <td><%= recref.customer_id  %></td>
            <td><%= recref.saledate  %></td>
            <td><%= recref.paymentstatus  %></td>
            <td><%= recref.authorizationnum  %></td>
        </tr>
      <% }); %>
</table>
    
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>
    