<h1> Details </h1>
<table>
    <tr> <td> Order ID : </td> <td> <%= onerec.order_id  %> </td> </tr>
    <tr> <td> Customer ID : </td> <td> <%= onerec.customer_id  %> </td> </tr>
    <tr> <td> Sale date : </td> <td> <%= onerec.saledate  %> </td> </tr>
    <tr> <td> Payment Status  ID: </td> <td> <%= onerec.paymentstatus  %> </td> </tr>
    <tr> <td> Authorizationnum  ID: </td> <td> <%= onerec.authorizationnum  %> </td> </tr>
</table>
